<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

	<insert id="join" parameterType="memberDTO">
      insert into member_table values(#{member_id}, #{member_pw}, #{member_name}, 1 , 'm', 'test', 'test', 'test')
	</insert>
   
	<select id="login" parameterType="memberDTO" resultType="memberDTO">
        select * from member_table where member_name = #{member_name} and member_pw = #{member_pw}
	</select>
   
	<update id="updateId" parameterType="String">
        update member_table set member_pw = #{member_pw} where member_id = #{member_id}
	</update>
     
	<select id="selectAll" parameterType="memberDTO" resultType="memberDTO">
        select * from member_table where member_id = #{member_id}
	</select>
     
	<select id="searchIdOrName" parameterType="String" resultType="memberDTO">
		select * from member_table where member_id = #{searchIdOrName} or member_name = #{searchIdOrName}
	</select>
	
	<select id="selectAllByName" parameterType="memberDTO" resultType="memberDTO">
        select * from member_table where member_name = #{member_name}
	</select>
	
	<select id="selectAllInVideo" parameterType="String" resultType="memberDTO">
        select * from member_table where member_id = (select member_id from upload_video_table where video_file = #{video_file})
	</select>
     
     
</mapper>