<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

	<select id="quoteLogin" parameterType="memberDTO" resultType="memberDTO">
		select * from quoteMember where name = #{name} and email= #{email} and mobile = #{mobile} and serviceType = #{serviceType}
	</select>

</mapper>