<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

	<insert id="join" parameterType="memberDTO">
		insert into member_table values(#{member_id}, #{member_pw}, #{member_name}, 1 , 'm', 'test', 'test')
	</insert>
	
	<select id="login" parameterType="memberDTO" resultType="memberDTO">
  		select * from member_table where member_id = #{member_id} and member_pw = #{member_pw}
  	</select>
	
	<update id="updateId" parameterType="memberDTO">
  		update member_table set member_pw = #{member_pw}, member_name = #{member_name}, member_age = #{member_age}, member_type = #{member_type}, member_profile = #{member_profile}, member_auth = #{member_auth}
  		where member_id = #{member_id}
  	</update>
  	
  	
</mapper>