<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.RecommendationPfMapper">

	<insert id="saveProfileRecommendation" parameterType="recommendationPfDTO">
        insert into watchcategoryprofile values (watchseqvalprofile.nextval, #{profileChckId}, #{profileChckName}, #{memberChckId}, #{memberChckName})
	</insert>
	
	<select id="selectWatchProfileHistory" parameterType="String" resultType="recommendationPfDTO">
		select * from watchcategoryprofile where member_id = #{memberId}
	</select>
	
</mapper>