<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.VideoMapper">
  	<insert id="upload" parameterType="videoDTO">
  		insert into upload_video_table values(
        vid_seq.nextval
    ,   #{member_id}
    ,   #{video_file}
    ,   #{video_price}
    ,   #{video_desc}
    ,   sysdate
    ,   'Y'
    ,   #{video_path}
		)
  	</insert>
  </mapper>