<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.VideoMapper">
  	<insert id="upload" parameterType="videoDTO">
  		insert into upload_video_table values (
		        vid_seq.nextval
		    ,   #{member_id}
		    ,   #{video_file}
		    ,   #{video_price}
		    ,   #{video_desc}
		    ,   sysdate
		    ,   'Y'
		    ,   #{video_path}
		    ,   'default'
		)
  	</insert>
  	
  	<select id="selectAllVideos" parameterType="String" resultType="videoDTO">
  		select * from upload_video_table where member_id = #{member_id} order by video_seq asc
 	</select>
  	
	<select id="selectLastThumbnail" resultType="videoDTO">
		select * from(select * from upload_video_table where video_thumbnail like 'thumbnail%' order by upload_dt DESC) where ROWNUM = 1
  	</select>
  	
  	<select id="selectSecondLastThumbnail" resultType="videoDTO">
  		select video_thumbnail from (select rownum as rn, video_thumbnail from (select video_thumbnail from upload_video_table where video_seq is not null and video_thumbnail like 'thumbnail%' order by video_seq desc)) where rn = 2
  	</select>
  	
	<update id="updateThumbnail" parameterType="String">
  		update upload_video_table set video_thumbnail = '${value}'
  		where video_seq = (select video_seq from(select * from upload_video_table order by upload_dt DESC) where ROWNUM = 1)
  	</update>
  	
  </mapper>