<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>
  
   <servlet>
   	<servlet-name>JoinService</servlet-name>
   	<display-name>JoinService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
   </servlet>
   
  <servlet>
   	<servlet-name>LogoutService</servlet-name>
   	<display-name>LogoutService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
   </servlet>
  
	<servlet>
   	<servlet-name>LoginService</servlet-name>
   	<display-name>LoginService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
   </servlet>
  
   <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<display-name>FrontController</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.frontcontroller.FrontController</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>UpdateService</servlet-name>
   	<display-name>UpdateService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.UpdateService</servlet-class>
   </servlet>
   
   <servlet>
   	<servlet-name>UploadService</servlet-name>
   	<display-name>UploadService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.UploadService</servlet-class>
   </servlet>
   
   <servlet>
   	<servlet-name>SearchService</servlet-name>
   	<display-name>SearchService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.SearchService</servlet-class>
   </servlet>
   
   <servlet>
   	<servlet-name>handshakeService</servlet-name>
   	<display-name>handshakeService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.handshakeService</servlet-class>
   </servlet>
   
   <servlet>
   	<servlet-name>CalenderService</servlet-name>
   	<display-name>CalenderService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.CalenderService</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EditProfileService</servlet-name>
   	<display-name>EditProfileService</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.controller.EditProfileService</servlet-class>
   </servlet>

   <servlet-mapping>
   	<servlet-name>JoinService</servlet-name>
   	<url-pattern>/JoinService</url-pattern>
   </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
   	<servlet-name>UpdateService</servlet-name>
   	<url-pattern>/UpdateService</url-pattern>
   </servlet-mapping>
	

   <servlet-mapping>
   	<servlet-name>UploadService</servlet-name>
   	<url-pattern>/UploadService</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
   	<servlet-name>SearchService</servlet-name>
   	<url-pattern>/SearchService</url-pattern>
   </servlet-mapping>

	<!-- frontcontroller -> .do -->
   <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<!-- ★★★★FrontController url패턴 : *.do -->
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
   	<servlet-name>handshakeService</servlet-name>
   	<url-pattern>/handshakeService</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   	<servlet-name>CalenderService</servlet-name>
   	<url-pattern>/CalenderService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>EditProfileService</servlet-name>
   	<url-pattern>/EditProfileService</url-pattern>
   </servlet-mapping>
  
</web-app>