<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- properties적어주기 -->
	<properties resource="com/smhrd/db/db.properties"/>
	
	<!-- ★★★★★alias주는곳★★★★★★★★★★ -->
	<typeAliases>
		<typeAlias type="com.smhrd.model.memberDTO" alias="memberDTO"/>
		<typeAlias type="com.smhrd.model.videoDTO" alias="videoDTO"/>
	</typeAliases>
	
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<!-- mapper적어주기 -->
  	<!-- ★★★★★★ mapper경로 ★★★★★★ -->
  	<mapper resource="com/smhrd/mapper/MemberMapper.xml"/>
  	<mapper resource="com/smhrd/mapper/VideoMapper.xml"/>
  </mappers>
</configuration>